<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>
    Kullan覺c覺 listesi
</h1>
    <ul>
        <% users.forEach(user => {  %>
        <li>
            <a href="/users/<%= user._id%>"> <%= user.username %></a>
        </li>
        <% }) %>
    </ul>
</body>
<a href="/users/form">Yeni Kullan覺c覺 Ekle</a>
</html>