.login-container {
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    min-height: 500px;
    max-width: 700px;
    box-sizing: border-box;
    
  }
  
  .login-container h2 {
    text-align: center;
  }
  .login-container form{
    background-color: white;
    box-shadow: none;
    border-style: none;
  }
  .login-container form div {
    margin-bottom: 15px;
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .login-container div .google-button{
    margin-bottom: 15px;
    
    align-items: center;
  
  }
  
  .login-container input {
    width: 100%;
    max-width: 450px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.205);
  }
  
  .login-container button {
    width: 100%;
    max-width: 450px;
    padding: 10px;
    background-color: #aa5cf3;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  }
  
  .login-container button:hover {
    background-color: #8403fd;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  a{
    color:blue;
    text-decoration: none;
  }
 
  @media(min-width: 700px){
    .login-container div{
        display: flex;

    }
  }

  
  